<form [formGroup]="calculationForm" (submit)="onSubmit()" novalidate>
    <div>
        <label for="fileCSV">Ingresa el archivo en formato CSV:</label>
        <input id="fileCSV" formControlName="fileCSV" type="file">
        <div *ngIf="isControlInvalidAndTouched('fileCSV')">
            Input 1 is required.
        </div>
    </div>

    <div>
        <label for="investmentAmount">Importe de la inversión:</label>
        <input id="investmentAmount" formControlName="investmentAmount" type="number">
        <div *ngIf="isControlInvalidAndTouched('investmentAmount')">
            Input 1 is required.
        </div>
    </div>

    <div>
        <label for="percentageBroker">Porcentaje de reducción:</label>
        <input id="percentageBroker" formControlName="percentageBroker" type="number">
        <div *ngIf="isControlInvalidAndTouched('percentageBroker')">
            Input 1 is required.
        </div>
    </div>

    <button type="submit" [disabled]="calculationForm.invalid">Calculate</button>
</form>