<h1>{{ 'title' | translate }}</h1>

<div class="language-selector">
  <img src="../assets/icons/es.png" alt="Español" (click)="changeLanguage('es')"
    [ngClass]="{ 'selected': selectedLanguage === 'es' }" />
  <img src="../assets/icons/en.png" alt="English" (click)="changeLanguage('en')"
    [ngClass]="{ 'selected': selectedLanguage === 'en' }" />
  <img src="../assets/icons/cat.png" alt="Català" (click)="changeLanguage('cat')"
    [ngClass]="{ 'selected': selectedLanguage === 'cat' }" />
</div>


<app-calculation-form (validResult)="changeShowResults($event)"></app-calculation-form>

<ng-container *ngIf="showResults">
  <app-calculation-result></app-calculation-result>
</ng-container>